<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icruxlogo.png" />
    <title>iCrux.net - 404 Not Found.</title>
  </head>
  <body
    style="
      background-color: #161a21;
      color: #495057;
      font-family: 'Arial', sans-serif;
      font-size: 1.2em;
      text-align: center;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
    "
  >
    <h1>404 Not Found.</h1>
    <p>Nieprawidłowe żądanie. Spróbuj ponownie.</p>
    <a href="/" style="color: #007bff; text-decoration: none">Strona główna</a>
  </body>
</html>
