<div class="resource-flex">
  <div class="resource-div div1">
    <div
      class="resources-title"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <p>Resources</p>
      <span style="color: #d9e5fc; font-size: 12px">Sync every 5 seconds</span>
    </div>
    <div>
      <div class="resources">
        <div class="resource">
          <div class="circle" id="cpu-circle">
            <div class="percent">
              <span id="cpu-percent">0%</span>
            </div>
          </div>
          <div class="label">
            <h2>CPU</h2>
            <p id="cpu-cores">of 0 CPU(s)</p>
          </div>
        </div>
        <div class="resource">
          <div class="circle" id="memory-circle">
            <div class="percent">
              <span id="memory-percent">0%</span>
            </div>
          </div>
          <div class="label">
            <h2>Memory</h2>
            <p id="memory-details">0 GiB of 0 GiB</p>
          </div>
        </div>
        <div class="resource">
          <div class="circle" id="storage-circle">
            <div class="percent">
              <span id="storage-percent">0%</span>
            </div>
          </div>
          <div class="label">
            <h2>Storage</h2>
            <p id="storage-details">0 TiB of 0 TiB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="resource-div div2">
    <div
      class="resources-title"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <p>Network</p>
      <span style="color: #d9e5fc; font-size: 12px">Sync every 5 seconds</span>
    </div>
    <div>
      <div class="resources">
        <div class="resource">
          <div class="circle" id="network-receiveds">
            <div class="percent">
              <span id="network-received" style="font-size: 13px">0</span>
            </div>
          </div>
          <div class="label">
            <h2>Network</h2>
            <p>(Inbound)</p>
          </div>
        </div>
        <div class="resource">
          <div class="circle" id="network-sents">
            <div class="percent">
              <span id="network-sent" style="font-size: 13px">0</span>
            </div>
          </div>
          <div class="label">
            <h2>Network</h2>
            <p>(Outbound)</p>
          </div>
        </div>
        <div class="resource">
          <div class="circle" id="ping-circle">
            <div class="percent">
              <span id="ping" style="font-size: 13px">0</span>
            </div>
          </div>
          <div class="label">
            <h2>Ping</h2>
            <p>(Latency)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
