doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title iCrux.net - Panel administracyjny

    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet/dist/leaflet.css')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/icruxlogo.png')

    meta(name='theme-color', content='#682aeb')
    meta(property='og:title', content='iCrux.net - Panel administracyjny')
    meta(property='og:description', content='Panel administracyjny dla administracji iCrux.net')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://admin.icrux.net/')
    meta(property='og:site_name', content='iCrux.net')

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous', defer)
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous', defer)
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous', defer)
  body
    .login-section
      .login-flex
        .login-box
          h2 iCrux.net
          h1.login-title Panel administracyjny (Beta)
          p.login-desc Zaloguj się przy pomocy swojego konta Discord
          if(user)
            a(href='/guilds', class='login-btn') PANEL ADMINISTRACYJNY
          else
            a(href='/login', class='login-btn') ZALOGUJ