<a
  href="javascript:void(0)"
  onclick="summary()"
  class="active"
  id="summary-link"
  style="display: flex"
  ><i class="fas fa-book"></i>
  <p>Summary</p></a
>
<a
  href="javascript:void(0)"
  onclick="notes()"
  id="notes-link"
  style="display: flex"
  ><i class="far fa-sticky-note"></i>
  <p>Notes</p></a
>
<a
  href="javascript:void(0)"
  onclick="cluster()"
  id="cluster-link"
  style="display: flex"
  ><i class="fas fa-server"></i>
  <p>Cluster</p></a
>
<a
  href="javascript:void(0)"
  onclick="options()"
  id="options-link"
  style="display: flex"
  ><i class="fas fa-cog"></i>
  <p>Options</p></a
>
<a
  href="javascript:void(0)"
  onclick="storage()"
  id="storage-link"
  style="display: flex"
  ><i class="fas fa-database"></i>
  <p>Storage</p></a
>
<a
  href="javascript:void(0)"
  onclick="backup()"
  id="backup-link"
  style="display: flex"
  ><i class="far fa-save"></i>
  <p>Backup</p></a
>
<a
  href="javascript:void(0)"
  onclick="perms()"
  id="perms-link"
  style="display: flex"
  ><i class="fas fa-lock-open"></i>
  <p>Permissions</p></a
>
<a
  href="javascript:void(0)"
  onclick="users()"
  id="users-link"
  style="display: flex"
  ><i class="fas fa-user"></i>
  <p>Users</p></a
>
<a
  href="javascript:void(0)"
  onclick="apitokens()"
  id="apitokens-link"
  style="display: flex"
  ><i class="far fa-user"></i>
  <p>API Tokens</p></a
>
<a
  href="javascript:void(0)"
  onclick="twofactor()"
  id="twofactor-link"
  style="display: flex"
  ><i class="fas fa-key"></i>
  <p>Two Factor</p></a
>
<a
  href="javascript:void(0)"
  onclick="groups()"
  id="groups-link"
  style="display: flex"
  ><i class="fas fa-users"></i>
  <p>Groups</p></a
>
<a
  href="javascript:void(0)"
  onclick="roles()"
  id="roles-link"
  style="display: flex"
  ><i class="fas fa-male"></i>
  <p>Roles</p></a
>

<a
  href="javascript:void(0)"
  onclick="antyddos()"
  id="antyddos-link"
  style="display: flex"
  ><i class="fas fa-shield-virus"></i>
  <p>Anty-DDoS</p></a
>

<a
  href="javascript:void(0)"
  onclick="firewall()"
  id="firewall-link"
  style="display: flex"
  ><i class="fas fa-shield-alt"></i>
  <p>Firewall</p></a
>
<a
  href="javascript:void(0)"
  onclick="support()"
  id="support-link"
  style="display: flex"
  ><i class="far fa-comments"></i>
  <p>Support</p></a
>
