<div class="navbar-bottom">
  <div class="left" style="display: flex; align-items: center">
    <i
      onclick="openNav()"
      style="
        color: #999999;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        font-size: 20px;
      "
      class="fas fa-bars"
    ></i>
    <p style="color: #999999">Home</p>
    <i
      style="
        color: #999999;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
      "
      class="fas fa-angle-right"
    ></i>
    <p style="color: #999999">Dashboard</p>
    <i
      style="
        color: #999999;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
      "
      class="fas fa-angle-right"
    ></i>
    <p style="color: #6d6d6d">dPanel</p>
  </div>
  <div class="right" style="display: flex; align-items: center">
    <a href="#"><i class="far fa-save"></i></a>
    <a href="#"><i class="fas fa-cog"></i></a>
    <div class="border"></div>
    <a href="#"><i class="far fa-clock"></i></a>
    <a href="#"><i class="fas fa-search-plus"></i></a>
    <a href="#"><i class="fas fa-search-minus"></i></a>
    <a href="#"><i class="fas fa-sync-alt"></i></a>
    <div class="border"></div>
    <a href="#"><i class="fas fa-angle-up"></i></a>
  </div>
</div>
