<div class="navbar">
  <div class="left" style="display: flex; align-items: center">
    <img src="/img/logo.jpg" alt="dpanel" />
    <p style="color: #6d6d6d; margin-left: 10px; font-size: 13px">
      Docker Environment 1.0.0
    </p>
  </div>
  <div>
    <input
      class="input-navbar"
      type="text"
      placeholder="Search or jump to..."
    />
  </div>
  <div class="right" style="display: flex; align-items: center">
    <a href="#"><i class="fas fa-plus"></i></a>
    <div class="border"></div>
    <a href="#"><i class="far fa-question-circle"></i></a>
    <a href="#"><i class="fas fa-wifi"></i></a>
    <img src="/img/user.png" alt="men" />
  </div>
</div>
