<table>
  <thead>
    <tr>
      <td style="font-weight: bold">Type</td>
      <td style="font-weight: bold">Applied</td>
      <td style="font-weight: bold">Action</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Keyboard Layout</th>
      <th>Default</th>
      <th>
        <button
          type="submit"
          style="
            background-color: #111217;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td>HTTP proxy</td>
      <td>None</td>
      <td>
        <button
          type="submit"
          style="
            background-color: #191b1f;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Console Viewer</th>
      <th>xterm.js</th>
      <th>
        <button
          type="submit"
          style="
            background-color: #111217;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td>Email from address</td>
      <td>xxx</td>
      <td>
        <button
          type="submit"
          style="
            background-color: #191b1f;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Address IP</th>
      <th><%= ip %></th>
      <th>
        <button
          type="submit"
          style="
            background-color: #111217;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td>Migration settings</td>
      <td>Default</td>
      <td>
        <button
          type="submit"
          style="
            background-color: #191b1f;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Cluster Resource</th>
      <th>Default</th>
      <th>
        <button
          type="submit"
          style="
            background-color: #111217;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td>WebAuth Settings</td>
      <td>None</td>
      <td>
        <button
          type="submit"
          style="
            background-color: #191b1f;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Bandwidth Limits</th>
      <th>None</th>
      <th>
        <button
          type="submit"
          style="
            background-color: #111217;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td>Tag Style Override</td>
      <td>Default</td>
      <td>
        <button
          type="submit"
          style="
            background-color: #191b1f;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User Tag Access</th>
      <th>Default</th>
      <th>
        <button
          type="submit"
          style="
            background-color: #111217;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td>Registered Tags</td>
      <td>Default</td>
      <td>
        <button
          type="submit"
          style="
            background-color: #191b1f;
            color: #ffffff;
            border: none;
            padding: 3px 5px;
            border-radius: 4px;
            border: 1px solid #2f3136;
            font-size: 12px;
            cursor: pointer;
          "
        >
          Edit
        </button>
      </td>
    </tr>
  </thead>
</table>
