<table>
  <thead>
    <tr>
      <th>Keyboard Layout</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HTTP proxy</td>
      <td>None</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Console Viewer</th>
      <th>xterm.js</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Email from address</td>
      <td>xxx</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Address IP</th>
      <th><%= ip %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Migration settings</td>
      <td>Default</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Cluster Resource</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>WebAuth Settings</td>
      <td>None</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Bandwidth Limits</th>
      <th>None</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tag Style Override</td>
      <td>Default</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>User Tag Access</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Registered Tags</td>
      <td>Default</td>
    </tr>
  </tbody>
</table>
