<div class="notes-header">
  <div class="notes-class">
    <p class="notes-edit" onclick="editnotes()">
      <i class="far fa-edit"></i> Edit
    </p>
  </div>
  <div class="notes-content">
    <p></p>
  </div>
</div>
